.generateButton {
  font-family: inherit;
  font-size: 1.1rem;
  padding: 8px 16px;
  border: 1px solid var(--color-light);
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: all 0.2s ease;
}
.generateButton:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
  box-shadow: 2px 2px 1px rgba(240, 240, 240, 0.6);
}
.generateButton:active {
  scale: 0.97;
}
